.vscode/**
.vscode-test/**
images/
!images/icon.png
out/**
node_modules/**
src/**
!src/html/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.code-workspace
**/README.md
